.description{
  
  &__content{

    &--wrapper{
      width: 85%;
      margin: 0 auto;
    }
  
    &--text{
      color: $block-color;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      text-align: left;
      position: relative;
      padding-top: 60px;
      

      &::before{
        content: "";
        background-image: url(../images/icon/quote.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 17px;
        height: 13px;
        position: absolute;
        top: 30px;
        left: 0;
      }
      
    }
    &--image{
      background-image: url(../images/group.jpg);
      display: block;
      width: 85%;
      height: 320px;
      position: relative;
      object-fit: cover;
      margin: 0 auto;
      border-radius: 5px;
    }
  }


  &__wrapper{
  width: 85%;
  background-color: $bc-secondary-color;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 40px;
  height: 230px;

    &--text{
      font-family: 'Ubuntu';
      color: $prymary-color;
      display: block;
      width: 70%;
      text-align: center;
      margin: 0 auto;
      font-size: 18px;
      line-height: 24px;
      padding-top: 30px;

      &::before{
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background-color: $bc-prymary-color;
        margin: 0 auto;
        margin-bottom: 15px;
        
      }
    }
  }
}

@media screen and (min-width: 768px){

  .description__content--wrapper{
    width: 75%;
  }

  .description__content--text::before{
    width: 25px;
    height: 20px;
    top: 40px;
    left: -30px;
  }

  .description__content--image{
    width: 75%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .description__wrapper{
    width: 75%;
    position: relative;
    height: 180px;
    border-radius: 3px;
    margin-top: 70px;
  }

  .description__wrapper--text{
    max-width: 450px;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    display: block;
    position: relative;
    width: 75%;
  }

  .description__wrapper--text::before{
    display: inline-block;
    height: 100px;
    width: 2px;
    position: absolute;
    left: -30px;
    top: 40px;
  }
}

@media screen and (min-width: 1024px){

  .description{
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .description__content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
  }

  .description__content--wrapper{
    width: 50%;
  }

  .description__content--text{
    width: 80%;
    font-size: 20px;
    line-height: 35px;
    padding: 0;
  }

  .description__content--text::before{
    font-size: 90px;
    top: -10px;
    left: -40px;
  }

  .description__content--image{
    min-width: 300px;
    max-width: 650px;
    margin: 0;
    margin-right: 100px;
  }

  .description__wrapper{
    width: 100%;
    max-width: 1300px;
  }

  .description__wrapper--text{
    font-size: 25px;
    line-height: 35px;
    display: block;
    position: relative;
    max-width: 800px;
  }

  .description__wrapper--text::before{
    left: -30px;
  }
}