%blok-title {
  font-family: $secondary-fonts;
  font-size: 30px;
  font-weight: 700;
  color: $title-color;
}
%nav-title {
  font-family: $secondary-fonts;
  font-size: 18px;
  font-weight: 700;
  color: $prymary-color;
}
%block-text {
  font-family: $secondary-fonts;
  font-size: 18px;
  font-weight: 400;
  color: $block-color;
}
