// color map
$prymary-color: #ffffff;
$title-color: #222222;
$block-color: #444444;
$footer-color: #151515;
$button-color: #333333;
$bc-prymary-color: #fcae26;
$bc-secondary-color: #824fe3;
$bc-orange: #faebd0;
$bc-red: #fbdcd2;
$bc-fiolet: #e2d8f5;
$bc-blue: #c8eae8;
$footer-text: #969aa8;
$footer-secondary-text: #626263;

//fonts map
$prymary-fonts: "Open Sans", Helvetica, Arial, sans-serif;
$secondary-fonts: "Ubuntu", Helvetica, Arial, sans-serif;
